<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  <validation validateIntegratedModeConfiguration="false"/>

    <staticContent>
        <mimeMap fileExtension=".md" mimeType="text" />
        <mimeMap fileExtension=".ini" mimeType="text" />
    </staticContent>

    <httpErrors errorMode="DetailedLocalOnly" />

    <rewrite>
        <rules>
          <rule name="rule 2C">
              <match url="^(.*).md$"  />
              <action type="Rewrite" url="/md-reader.php"  appendQueryString="true" />
          </rule>
        </rules>
    </rewrite>

    <!-- <rewrite>
      <rules>
        <rule name="httpTohttps" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="Default Document" stopProcessing="true">
          <match url="(.*)index.html" />
          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
    
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\ClientSites\natec.tech\tmp" />
  </system.web>
</configuration>